.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../assets/shopping-with-bags.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .Mainİmage {
    width: 30%;
    height: auto;
    position: relative;
    z-index: -1;
    filter: blur(4px);
  }
  
  .textContainer {
    width: 45%;
    text-align: center;
  }
  
  .imageText {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  .description {
    text-align: center;
  }
  
  @media (max-width: 500px) {
    .container {
      flex-direction: column;
    }
  
    .Mainİmage {
      height: 200px;
      width: 100%;
    }
  
    .textContainer {
      width: 100%;
      text-align: center;
    }
  
    .imageText {
      font-size: 25px;
      text-align: center;
    }
  
    .description {
      text-align: center;
    }
  }